<%- layout('layouts/boilerplate')  %>
  <style>
    /* making footer stay at the bottom */
    @media (min-width: 600px) {
      body {
    margin: 0;
    padding: 0;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem; /* Change this value to the desired height */
  }
    }
  </style>  
  <!-- about developer -->
    <br>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-10 offset-md-1 text-center animate__animated animate__fadeIn">
            <h1 class="display-5">About the Developers</h1>
            <div class="row mt-5">
              <div class="col-md-4 offset-md-2 profile">
                <img src="/images/profile.jpg" alt="" class="img-fluid profile-img grayscale">
                <div class="profile-content mt-3">
                  <p class="display-6">Earth Laothong</p>
                  <p>Earth is a skilled software developer with a passion for creating innovative educational tools. With his expertise, creativity, and dedication, he is always eager to take on new challenges and contribute to the technology industry. In his free time, Earth enjoys cultivating gourmet mushrooms and playing video games with friends.</p>
                </div>
              </div>
              <div class="col-md-4 offset-md-1 profile">
                <img src="/images/jingyiProfile.png" alt="" class="img-fluid profile-img grayscale">
                <div class="profile-content mt-3">
                  <p class="display-6">Jingyi Chen</p>
                  <p>Jingyi is an IT professional specialized in system administration, with expertise in maintaining and optimizing computer systems. With a major in IT, Jingyi has a solid foundation in IT infrastructure, networking, and security principles. Jingyi's quick issue identification and resolution skills make them an asset to any IT team. In hisfree time, Jingyi enjoys video games, basketball, and snowboarding. These hobbies help balance out their professional life and develop analytical, leadership, and problem-solving skills.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  