<%- layout('layouts/boilerplate')  %>
    <!-- about developer -->
    <br>
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-10 offset-md-1 text-center animate__animated animate__fadeIn">
            <h1 class="display-5">About the Developers</h1>
            <div class="row mt-5">
              <div class="col-md-4 offset-md-2 profile">
                <img src="/images/profile.jpg" alt="" class="img-fluid profile-img grayscale">
                <div class="profile-content mt-3">
                  <p class="display-6">Earth Laothong</p>
                  <p>Earth is a skilled software developer with a passion for creating innovative educational tools. With his expertise, creativity, and dedication, he is always eager to take on new challenges and contribute to the technology industry. In his free time, Earth enjoys cultivating gourmet mushrooms and playing video games with friends.</p>
                </div>
              </div>
              <div class="col-md-4 offset-md-1 profile">
                <img src="/images/jingyiProfile.png" alt="" class="img-fluid profile-img grayscale">
                <div class="profile-content mt-3">
                  <p class="display-6">Jingyi Chen</p>
                  <p>Jingyi Chen is a skilled software developer with a passion for creating innovative educational tools. He enjoys cultivating gourmet mushrooms and spending time with friends playing video games. With his expertise, dedication, and creativity, Earth is always eager to take on new challenges and contribute to the growth and progress of the technology industry.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  